.formApp{
  position: relative;
  bottom: 100px;
  width: 80%;
  height: 75%;
border:1px #369CB7 solid;
}
.mainJar{
  display:flex;
  justify-content: center;
  width: 40%;
}
.buttons{
  display: flex;
  flex-direction: column;
  width: 100px;
  
}
.jars{
  display:flex;
  height: 80%;
  width: 80%;
flex-direction: row;
justify-content: flex-end;
}
h2{
  position: relative;
  bottom: -20px;
  text-align: center;
}