.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px #369CB7 solid;
    border-radius: 10px;
    width: 50%;
    height: 300px;
    position: relative;
    left: 550px;
    top:50px;
}
.moneyForm{
    display:flex;
    position: absolute;
    flex-direction: column;
    
    bottom:60px;
    left: 50px;
    width: 150px;
    height: 350px;
}
.coin{
    width: 60%;
    border-radius: 100px;
}
.divCount{
    display: flex;
    position: relative;
    top: 55px;
    left: 60px;
    align-items: flex-start;
}
.count{
font-size: 20px;
border-radius: 30px;
width: 30px;
height: 30px;

position: absolute;
text-align: center;
color:white;
background: #19b4e7
}
.button{
    position: relative;
    left: 180px;
}
.nullCount{
    font-size: 20px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    
    position: absolute;
    text-align: center;
    color:white;
    background: #91D7EE
}
.money{
    display:flex;
    flex-direction: row;
width: 500px;
height: 100px;
margin:30px;
}
span{
    text-align: end;
}
.exit{
    font-weight: bold;
    font-size: 30px;
    color:#0ab3e2;
    height: 10px;
    position: relative;
    bottom:30px;
    left: 10px;
    display:flex;
    justify-content: end;
    align-items: flex-start;
}