.moneyForm{
    display:flex;
    position: absolute;
    flex-direction: column;
    
    bottom:60px;
    left: 50px;
    width: 150px;
    height: 350px;
}
.coin1{
    position: absolute;
    width: 60%;
    border-radius: 100px;
   
}
.coin2{
    position: absolute;
    width: 60%;
    border-radius: 100px;
     top:100px
}
.coin3{
    position: absolute;
    width: 60%;
    border-radius: 100px;
    top:200px
}
.coin4{
    position: absolute;
    width: 60%;
    border-radius: 100px;
    top:300px
}
.divCount1{
    display: flex;
    position: relative;
    top: 55px;
    left: 60px;
    align-items: flex-start;
}
.divCount2{
    display: flex;
    position: relative;
    top: 155px;
    left: 60px;
    align-items: flex-start;
}
.divCount3{
    display: flex;
    position: relative;
    top: 255px;
    left: 60px;
    align-items: flex-start;
}
.divCount4{
    display: flex;
    position: relative;
    top: 355px;
    left: 60px;
    align-items: flex-start;
}

.nullCount{
    font-size: 20px;
    border-radius: 30px;
    width: 34px;
    height: 30px;
    
    position: absolute;
    text-align: center;
    color:white;
    background: #91D7EE
}
.count{
    font-size: 20px;
    border-radius: 30px;
    width: 34px;
    height: 30px;
    
    position: absolute;
    text-align: center;
    color:white;
    background: #19b4e7
}