.moneyForm{
    display:flex;
    position: absolute;
    flex-direction: column;
    
    bottom:60px;
    left: 50px;
    width: 150px;
    height: 350px;
}
.double{
}
.coin{
    width: 60%;
    border-radius: 100px;
}
.divCount{
    display: flex;
    position: relative;
    top: 55px;
    left: 60px;
    align-items: flex-start;
}
.count{
font-size: 20px;
border-radius: 30px;
width: 30px;
height: 30px;

position: absolute;
text-align: center;
color:white;
background: #91D7EE
}
.nullCount{
    font-size: 20px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    
    position: absolute;
    text-align: center;
    color:white;
    background: #91D7EE
}
.count{
    font-size: 20px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    
    position: absolute;
    text-align: center;
    color:white;
    background: #19b4e7
}