
  .button{
    position: relative;
    top:70px;
    left:50px;
    /* font-size:30px */
  }
  .jar{
    position: relative;
    margin: 40px;
    height: 200px;
    top: 100px;
    left: 50px;
  }
  .jarSubmit{
    position: relative;
    height: 200px;
    top: 40px;
    left: 40px;
  }
.ActiveMainJar{
  position: absolute;
  bottom: 90px;
  height: 60%;
  left:200px;
}
.ActiveButton{
  position: relative;
  top:10px;
  left:50px;
  /* font-size:30px */
}
.ActiveJar{
  position: relative;
    margin: 40px;
    height: 200px;
    top: 40px;
    left:50px
    
}