.mainJar{
    position: absolute;
    bottom: 90px;
    height: 60%;
  }
  .button{
    position: relative;
    top:80px;
    left:200px
  }
  .jar{
    position: relative;
    margin: 30px;
    height: 50%;
    top: 100px;
    left: 200px;
  }